<ng-container>
  <tr *ngFor="let item of items$ |async as result">
    <th>{{item.id}}</th>
    <td>{{item.title}}</td>
    <td>{{item.description}}</td>
    <td *ngIf="item.available">Yes</td>
    <td *ngIf="!item.available">No</td>
    <td>
      <a class="btn btn-primary mx-2" data-bs-toggle="modal" attr.data-bs-target="#item{{item.id}}">Edit</a>
      <app-item-update-modal [item]="item" ></app-item-update-modal>
      <a class="btn btn-danger mx-2" (click)="deleteItem(item)">Delete</a>
      <a class="btn btn-info" *ngIf="!item.available" (click)="switchAvailabilityItem(item)">Switch to Available</a>
      <a class="btn btn-info" *ngIf="item.available" (click)="switchAvailabilityItem(item)">Switch to Unavailable</a>
    </td>
  </tr>
</ng-container>

